:root {
  --gray-000: #EAEAEB;
  --gray-100: #D6D6D6;
  --gray-200: #C5C5C5;
  --gray-300: #626262;
  --gray-400: #595959;
  --gray-500: #454446;
  --gray-600: #3B3B3B;
  --gray-700: #302F31;

  --background: #252426;
  --text-white: #ffffff;
  --primary: #6946B3;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff2');
  font-weight: 400 500 600 700 800 900;
  font-style: normal;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-white);
  background: var(--background);
  font-family: 'Pretendard', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}